header {
	color: white;
	text-align: right;
}

body {
	background-image: url("Capture.PNG");
	background-repeat: no-repeat;
	background-size: 1900px 950px;
background-color: #509950;
}
	.button {
     position: static;
    background-color: #509950;
    border: solid green 2px;
    font-size: 28px;
    color: #FFFFFF;
    padding: 20px;
    width: 20px;
    text-align: center;
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}

.button:after {
    content: "";
    background: #9AFF57;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 0%;
    margin-left: -20px ;
    margin-top: -120%;
    opacity: 0;
    transition: all 0s;
}

.button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 5s;
}